RCLONE_CONFIG_MYREMOTE_TYPE="swift"
RCLONE_CONFIG_MYREMOTE_ENV_AUTH="true"
OS_AUTH_URL="{{ item.os_auth_url }}"
OS_TENANT_ID="{{ item.os_tenant_id }}"
OS_TENANT_NAME="{{ item.os_tenant_name }}"
OS_USERNAME="{{ item.os_username }}"
OS_PASSWORD="{{ item.os_password }}"
