# {{ ansible_managed }}
# https://www.jamescoyle.net/how-to/3116-rclone-systemd-startup-mount-script
[Unit]
Description=rclone storage mount - {{ item.remote_src | regex_replace('[\:\/]+', '-') }}
Documentation=http://rclone.org
After=network.target

[Service]
Type=simple

Environment=GOMAXPROCS=2
Restart=on-failure
RestartSec=10
KillSignal=SIGTERM

ExecStart=/usr/bin/rclone -v mount {{ rclone_mount_options | join(' ') }} {{ item.remote_src }} {{ item.dest_path }}

[Install]
WantedBy=multi-user.target

