{
    "service": {
        "name": "rclone storage mount - {{ item.remote_src }}",
        "tags": [
          "rclone",
          "traefik.enable=false"
        ],
        "checks": [
          {
            "args": [
              "systemctl",
              "status",
              "{{ item.remote_src | regex_replace('\/','-') }}.service"
            ],
            "interval": "60s"
          }
        ]
    }
}
